<a href="https://colab.research.google.com/github/mava123-0/Machine-Learning-Projects/blob/main/Decision%20Tree/Salary%20Classification/decision_tree_salary_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [35]:
output = df['salary_more_then_100k']
inputs = df.drop('salary_more_then_100k',axis='columns')

Data Pre-Processing

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
newlabel_company = LabelEncoder()
newlabel_job = LabelEncoder()
newlabel_degree = LabelEncoder()

In [38]:
inputs['company'] = newlabel_company.fit_transform(inputs['company'])
inputs['job'] = newlabel_company.fit_transform(inputs['job'])
inputs['degree'] = newlabel_company.fit_transform(inputs['degree'])

In [39]:
print(inputs)

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

Training and Test Data Split

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
x_train,x_test,y_train,y_test = train_test_split(inputs,output,train_size=0.8,random_state=2)

print(x_train)

    company  job  degree
9         0    0       1
3         2    0       1
1         2    2       1
10        1    2       0
7         0    1       0
14        1    1       0
2         2    0       0
11        1    2       1
6         0    2       1
15        1    1       1
13        1    0       1
8         0    0       0

In [42]:
print(y_train)

9     1
3     1
1     0
10    1
7     0
14    1
2     1
11    1
6     0
15    1
13    1
8     0
Name: salary_more_then_100k, dtype: int64

In [43]:
print(x_test)

    company  job  degree
12        1    0       0
4         2    1       0
5         2    1       1
0         2    2       0

In [44]:
print(y_test)

12    1
4     0
5     1
0     0
Name: salary_more_then_100k, dtype: int64

Tree Implementation

In [45]:
from sklearn import tree

In [46]:
model = tree.DecisionTreeClassifier()

In [47]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [53]:
pred_score = model.score(x_test,y_test)
print(pred_score)

0.75